nav {
    text-align: center;
   
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 1% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    
}
ol{
    padding-top: 15px;
    margin-right: 35px;
}
ul{
    margin-right: 35px;
}
a{
    padding-left: 25px;
    text-decoration: none;
    font-size: large;
    font-style: oblique; 
}
.listitem{
    height: 120px;
}
h4{
    text-align: center;   
}
h2{
    font-size: small;
    color: black;
}
.container{
    display: flex;
    flex-direction: column;
}
.item{
    margin: 5px;
    padding: 5px;
    margin-left: 25px;
    text-align: center;
}
.all{
    width: 450px;
    border-collapse: collapse;
}






