ol{
    padding-top: 15px;
    margin-right: 35px;
}
a{
    padding-left: 25px;
    text-decoration: none;
    font-size: large;
    font-style: oblique; 
}
.listitem{
    height: 120px;
}
h4{
    text-align: center;   
}
.container{
    display: flex;
    flex-direction: column;
}
.item{
    margin: 5px;
    padding: 5px;
    margin-left: 25px;
    text-align: center;
}
.all{
    width: 450px;
    border-collapse: collapse;
}
.allorders{
    display: flex;
    flex-wrap: wrap;
}
.item-orders {
    flex: 1 0 21%; /* explanation below */
    margin: 10px;
}
.pag{
    width:80px;
}
.pagination{
    text-align: center;
    width: 100%;
}