h1{
	text-align: center;
}

.itemz{
	font-size: small;
	background-color: #46a049;
	border-radius: 8px;
	font-size: 14px;
	color: white;
}
ul{
	margin: 0;
}
.finish{
	height: 30px;
	width: 100px;
	color: green;	
}
.button-div{
	text-align: center;
}
.i1{
	display: flex;
	flex-direction: row;
}
.Current{
	flex: 1;
	text-align: center;
	justify-content: center;
}
.hidden{
	display: none;
}
.expand{
	background-color: #4CAF50; 
	border: none;
	color: white;
	margin: 2px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 19px;
	border-radius: 12px;
	width: 250px;
	height: 50px;
}
.itembtn{
	background-color: #6de471; 
	border: none;
	color: white;
	margin: 2px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
	width: 250px;
	height: 50px;
}
