h1{
	text-align: center;
}

.itemz{
	font-size: small;
	background-color: #46a049;
	border-radius: 8px;
	font-size: 14px;
	color: white;
}
.finish{
	height: 30px;
	width: 100px;
	color: green;	
}
.button-div{
	text-align: center;
}
.i1{
	display: flex;
	flex-direction: row;
}
.Current{
	flex: 1;
	text-align: center;
	justify-content: center;
}
.hidden{
	display: none;
}
.expand{
	background-color: #3c8dbc; 
	border: none;
	color: white;
	margin: 2px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 19px;
	border-radius: 12px;
	width: 250px;
	height: 50px;
}
.itembtn{
	background-color:#57a7d5; 
	border: none;
	color: white;
	margin: 2px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
	width: 250px;
	height: 50px;
}
.btngreen{
border-collapse: collapse;
border-spacing: 0;
box-sizing: border-box;
font: inherit;
margin: 0;
overflow: visible;
text-transform: none;
font-family: inherit;
margin-bottom: 0;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
background-image: none;
user-select: none;
padding: 10px 16px;
font-size: 18px;
line-height: 1.3333333;
display: block;
width: 100%;
border-radius: 3px;
box-shadow: none;
border: 1px solid transparent;
text-decoration: none;
color: #fff;
border-color: #398439;
background-color: #008d4c;
}